<!-- This HTML document allows users to edit a survey description within a web application. 
It features a centered card layout with a responsive design. The form includes an input field pre-populated with the current 
service description, and users can update it. A "Back" button provides navigation to the survey page. 
External styles and fonts enhance the visual presentation. -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Survey</title>
    <link rel="stylesheet" href="/public/surveyEdit.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Round"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="page-container">
      <!-- Full page container to center the card vertically -->
      <div class="header-container">
        <a href="/survey" class="back-button material-icons-round"
          >arrow_back</a
        >
        <h1 class="page-title">Edit Survey</h1>
      </div>

      <div class="card-container">
        <!-- Container for the card to be centered -->
        <form
          action="/update-survey/<%= service.servicesID %>"
          method="post"
          class="form-stylist card"
        >
          <!-- Include input field pre-populated with the service's current data -->
          <input
            type="text"
            name="description"
            class="input-field"
            value="<%= service.description %>"
            placeholder="Service Description"
            required
          />
          <br />
          <br />
          <button type="submit" class="submit-btn">Update Survey</button>
        </form>
      </div>
    </div>
  </body>
</html>
