<!-- This HTML document displays a success message after a form submission in a web application. 
  It includes a success message, an image, and a link to return to the survey page. 
  The message informs the user that their form submission was successful, and the link allows 
  them to navigate back to the survey. -->


<!DOCTYPE html>
<html>
  <head>
    <title>Success!</title>
    <link rel="stylesheet" href="/public/success.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Round"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="mainContainer">
      <img src="/public/content/Group 25.png" alt="" />
      <h1>Form Submitted Successfully!</h1>
      <p>
        Your form has been successfully submitted and you stylist will soon be
        in touch!
      </p>
      <br /><br />
      <a href="/">Back to Survey</a>
      <!-- This link takes the user back to the root '/' -->
    </div>
  </body>
</html>
