<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Responsive Dropdown</title>
    <link rel="stylesheet" href="/public/testing.css" />
  </head>
  <body>
    <!-- // first dropdown -->
    <div class="custom-select-wrapper">
      <div class="custom-select">
        <div class="custom-select__trigger">
          <span>Choose an option</span>
          <div class="arrow"></div>
        </div>
        <div class="custom-options">
          <span class="custom-option selected" data-value="option1"
            >Option 1</span
          >
          <span class="custom-option" data-value="option2">Option 2</span>
          <span class="custom-option" data-value="option3">Option 3</span>
        </div>
      </div>
    </div>

    <!-- // second dropdown -->
    <div class="custom-select-wrapper">
      <div class="custom-select">
        <div class="custom-select__trigger">
          <span>Choose an option</span>
          <div class="arrow"></div>
        </div>
        <div class="custom-options">
          <span class="custom-option selected" data-value="option1"
            >Option 1</span
          >
          <span class="custom-option" data-value="option2">Option 2</span>
          <span class="custom-option" data-value="option3">Option 3</span>
        </div>
      </div>
    </div>
    <script src="/public/testing.js"></script>
  </body>
</html>
